<div class="end-game-container">
  <div class="score">
    {{getValue()}}%
  </div>
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="determinate"
    [diameter]="250"
    [strokeWidth]="10"
    value={{getValue()}}>
    <div class="score">
      {{getValue()}}
    </div>
  </mat-progress-spinner>
  <div class="recap">
    <a routerLink="/game"><button mat-raised-button color="primary"><mat-icon svgIcon="replay"></mat-icon>Rejouer</button></a>
    <a routerLink="/"><button mat-raised-button color="primary"><mat-icon svgIcon="menu"></mat-icon>Menu</button></a>
  </div>
</div>
