.answered {
	cursor: default;
}

.selected {
	background: #5efc82 !important;
}

.selected-good {
	background: #00c853 !important;
}

.selected-wrong {
	background: #f4511e !important;
}

.not-selected-good {
	background: #81c784 !important;
}

.other {
	background: #fafafa !important;
}

.mat-raised-button{
  width: 90%;
  height: 90%;
  background-color: #fafafa;
  margin: auto;
  display: -webkit-box;
  font-size: 1.2em;
  text-transform: uppercase;
}
