.answered {
	cursor: default;
}

.selected {
	background: #5efc82 !important;
}

.selected-good {
	background: #009624 !important;
}

.selected-wrong {
	background: #c41c00 !important;
}

.not-selected-good {
	background: #00c853 !important;
}

.other {
	background: #fafafa !important;
}

.mat-raised-button{
  width: 90%;
  height: 90%;
  background-color: #fafafa;
  margin: auto;
  display: -webkit-box;
  font-size: 1.2em;
  text-transform: uppercase;
}
