.question-show {
	cursor: pointer;
}

.question{
  height: 25%;
  width: 90% !important;
  text-align: center;
  margin: 5%;
  display: flex;
  align-items: center;
}

.question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: 100%;
}

.answers-container {
	width: 100%;
  height: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div {
  width: 100%;
}

div {
  height: 25%;
}

h3 {
  width: 100%;
}
