.question-show {
	cursor: pointer;
}

.question{
  height: 25%;
  background-color: #ffd54f;
  width: 90% !important;
  box-shadow: inset 0 0px 8px 0px rgba(0,0,0,.2);
  text-align: center;
  margin: 20px;
  display: flex;
  align-items: center;
  /*border: 1px solid #0000006e;*/
}

.question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: calc(100% - 5px);
}

.answers-container {
	width: 100%;
  height: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div[_ngcontent-c4] {
  width: 100%;
}

div {
  height: 25%;
}

.question h3{
  padding: 5%;
}
