<app-coutdown-timer *ngIf="isStateAnswering" (onTimeDown)="handleTimeDown()" ></app-coutdown-timer>
<div class="question-container">
  <div class="question">
    <h3>{{this.question.question}}</h3>
    <button mat-raised-button *ngIf="isStateShowAnswer" (click)="handleNextQuestion()">Next</button>
  </div>
  <div class="answers-container">
	  <div *ngFor="let answer of answers">
	    <app-answer [answer]="answer" [questionAnswered]="hasAnswered" [show]="isStateShowAnswer" (makeAnswer)="setAnswer($event)" ></app-answer>
	  </div>
  </div>
</div>
