.question-show {
	cursor: pointer;
}

.question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.answers-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}